<div class="auth">
  <div class="auth-component">
    <img src="/assets/images/logo.png" alt="logo" class="logo__img" height="60px" />
    <h1 class="logo__header">S.H.I.E.L.D</h1>
    <router-outlet></router-outlet>
  </div>

  <div class="welcome">
    <img src="/assets/images/logo.png" alt="logo" class="logo__img" height="130px" />
    <h1> Welcome to</h1>
    <h1 class="welcome__heading">S.H.E.I.L.D C.R.M</h1>
    <br />
    <span class="welcome__text">The "Strategic Homeland Intervention, Enforcement and Logistics Division" or S.H.I.E.L.D. 
      is a counterterrorism and intelligence agency formerly run by Nick Fury, currently being rebuilt by Phil Coulson.
      Their famous clients include: Dr.Stephen Strange, Thor Odinson, Peter Parker & several other superheroes. </span>
  </div>
</div>
